# On Pi4/Ubuntu, also requires systemd.unified_cgroup_hierarchy=0 added to /boot/firmware/cmdline.txt,
# to fall back to cgroup v1.
version: "3.3"
networks:
  gamutrf:
services:
  specgram:
    restart: always
    image: iqtlabs/gamutrf-specgram:latest
    volumes:
      - '${VOL_PREFIX}:/data'
    deploy:
      resources:
        # we would prefer "reservations", but this works only in "swarm" mode.
        # see https://github.com/docker/compose/pull/5684
        limits:
          cpus: '0.8'
    command:
      - '--loop=10'
      - '--skip-exist'
      - '--workers=1'
      - '/data/gamutrf'
  gamutrf-api:
    restart: always
    image: iqtlabs/gamutrf-api:latest
    networks:
      - gamutrf
    ports:
      - '8000:8000'
    cap_add:
      - SYS_NICE
      - SYS_RAWIO
    privileged: true
    devices:
      - /dev/bus/usb:/dev/bus/usb
    volumes:
      - '${VOL_PREFIX}:/data'
    command:
      - --no-agc
      - --rxb=83886080
  watchtower:
    image: containrrr/watchtower:latest
    restart: always
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      - "WATCHTOWER_POLL_INTERVAL=3600"
      - "WATCHTOWER_CLEANUP=true"
      - "WATCHTOWER_INCLUDE_RESTARTING=true"
      - "WATCHTOWER_INCLUDE_STOPPED=true"
      - "WATCHTOWER_REVIVE_STOPPED=true"
