[tool.poetry]
name = "gamutrf"
version = "0.5.46"
description = "An orchestrated SDR scanner"
authors = ["cglewis <clewis@iqt.org>"]
license = "Apache-2.0"
readme = "README.md"
packages = [
    { include = "gamutrf" },
]

[tool.poetry.dependencies]
"RPi.GPIO" = {version = "0.7.1", markers = "platform_machine != 'aarch64'"}
Flask = "3.0.0"
Jinja2 = "3.1.3"
bjoern = "3.2.2"
cairocffi = "^1.3.0"
falcon = "3.1.3"
falcon-cors = "1.1.7"
gpsd-py3 = "0.3.0"
matplotlib = "3.8.2"
numpy = "1.26.3"
paho-mqtt = "1.6.1"
pandas = "2.1.4"
prometheus_client = "0.19.0"
pycairo = "^1.21.0"
python = ">=3.9,<3.13"
pyzmq = "^25.1.0"
requests = "2.31.0"
schedule = "1.2.1"
scipy = "1.11.4"
sigmf = "1.1.5"
sysrsync = "^1.1.1"
webcolors = "1.13"
zstandard = "0.22.0"

[tool.poetry.dev-dependencies]
attr = "0.3.2"
attrs = "23.2.0"
black = "23.12.1"
docker = "7.0.0"
pdbpp = "^0.10.3"
pylint = "3.0.3"
pytest = "7.4.4"
pytest-cov = "4.1.0"
pytype = "2024.1.5"

[tool.poetry.scripts]
gamutrf-compress_dirs = 'gamutrf.__main__:compress_dirs'
gamutrf-offline= 'gamutrf.__main__:offline'
gamutrf-scan = 'gamutrf.__main__:scan'
gamutrf-sigfinder = 'gamutrf.__main__:sigfinder'
gamutrf-specgram = 'gamutrf.__main__:specgram'
gamutrf-waterfall = 'gamutrf.__main__:waterfall'
gamutrf-worker = 'gamutrf.__main__:worker'

[tool.poetry.urls]
homepage = "https://github.com/IQTLabs/gamutRF"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
