[tool.poetry]
name = "gamutrf"
version = "0.5.9"
description = "An orchestrated SDR scanner"
authors = ["cglewis <clewis@iqt.org>"]
license = "Apache-2.0"
readme = "README.md"
packages = [
    { include = "gamutrf" },
]

[tool.poetry.dependencies]
python = ">=3.8 <3.11"
bjoern = "3.2.2"
falcon = "3.1.1"
falcon-cors = "1.1.7"
gpsd-py3 = "0.3.0"
httpx = "0.23.3"
Jinja2 = "3.1.2"
matplotlib = "3.6.3"
numpy = "1.24.1"
paho-mqtt = "1.6.1"
pandas = "1.5.3"
prometheus_client = "0.16.0"
requests = "2.28.2"
"RPi.GPIO" = "0.7.1"
schedule = "1.1.0"
scipy = "1.10.0"
sigmf = "1.1.0"
zstandard = "0.19.0"
pycairo = "^1.21.0"
cairocffi = "^1.3.0"

[tool.poetry.dev-dependencies]
attrs = "22.2.0"
black = "22.12.0"
docker = "6.0.1"
pylint = "2.15.10"
pytest = "7.2.1"
pytest-cov = "4.0.0"
pytype = "2023.1.17"

[tool.poetry.scripts]
gamutrf-api = 'gamutrf.__main__:api'
gamutrf-freqxlator = 'gamutrf.__main__:freqxlator'
gamutrf-samples2raw = 'gamutrf.__main__:samples2raw'
gamutrf-scan = 'gamutrf.__main__:scan'
gamutrf-scan2mp4 = 'gamutrf.__main__:scan2mp4'
gamutrf-scan2rtlpow = 'gamutrf.__main__:scan2rtlpow'
gamutrf-sigfinder = 'gamutrf.__main__:sigfinder'
gamutrf-specgram = 'gamutrf.__main__:specgram'

[tool.poetry.urls]
homepage = "https://github.com/IQTLabs/gamutRF"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
