<form action = "/result" method = "POST">
   <p>Current signals: </p>
   {% for bin in bins %}
   <p><b>{{ bin[0] }}</b> ({{ bin[1] }})</p>
   {% endfor %}
   <p>Make a request to record below:</p>
   <p><input type="text" name="worker"/> Worker IP or name</p>
   <p><input type="text" name="frequency"/> Frequency</p>
   <p><input type="text" name="bandwidth" value="20"/> Bandwidth in Mhz (20 max)</p>
   <p><input type="text" name="duration" value="10"/> Duration in seconds</p>
   <p><input type="text" name="repeat" value="0"/> Repeat (-1 to repeat forever)</p>
   <p><input type="submit" value="submit"/></p>
</form>
