name: docker-test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: docker build
      run: |
        docker build -f Dockerfile.gnuradio-deps . -t iqtlabs/gamutrf-gnuradio-deps:latest && \
        docker build -f Dockerfile.gnuradio . -t iqtlabs/gamutrf-gnuradio:latest && \
        docker build -f Dockerfile.base . -t iqtlabs/gamutrf-base:latest && \
        docker build -f Dockerfile . -t iqtlabs/gamutrf:latest && \
        docker build -f Dockerfile.api . -t gamutrf-api:latest && \
        docker run -t gamutrf-api:latest --help && \
        docker build -f Dockerfile.graph . -t gamutrf-graph:latest && \
        docker run -t gamutrf-graph:latest --help && \
        docker build -f Dockerfile.sigfinder . -t gamutrf-sigfinder:latest && \
        docker run -t gamutrf-sigfinder:latest --help && \
        docker build -f Dockerfile.airspyfm . -t gamutrf-airspyfm:latest && \
        docker run -t gamutrf-airspyfm:latest --help && \
        docker build -f Dockerfile.freqxlator . -t gamutrf-freqxlator:latest && \
        docker run -t gamutrf-freqxlator:latest --help
        sudo apt-get update && sudo apt-get install -qy python3-pip && pip3 install docker-compose \
        docker-compose build
