name: buildx

on:
  push:
    branches: main
    tags: 'v*'

jobs:
  buildx:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
    - name: Change for main
      id: change_version
      run: if [ "${{ steps.get_version.outputs.VERSION }}" == "main" ]; then echo ::set-output name=VERSION::latest; else echo ::set-output name=VERSION::${{ steps.get_version.outputs.VERSION }}; fi
    - name: Set up qemu
      uses: docker/setup-qemu-action@v2
      with:
        platforms: all
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2
      with:
        version: latest
    - name: Docker Login
      env:
        DOCKER_PASSWORD: ${{ secrets.DOCKER_TOKEN }}
      run: |
        echo "${DOCKER_PASSWORD}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      if: github.repository == 'iqtlabs/gamutrf' && github.event_name == 'push'

    - name: Build and push platforms
      env:
        DOCKER_CLI_EXPERIMENTAL: enabled
      run: |
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          --push \
          -t iqtlabs/gamutrf-mqtt:${{ steps.change_version.outputs.VERSION }} -f Dockerfile.mqtt . && \
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          --push \
          -t iqtlabs/gamutrf-sigfinder:${{ steps.change_version.outputs.VERSION }} -f Dockerfile.sigfinder . && \
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          --push \
          -t iqtlabs/gamutrf-specgram:${{ steps.change_version.outputs.VERSION }} -f Dockerfile.specgram . && \
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          --push \
          -t iqtlabs/gamutrf-graph:${{ steps.change_version.outputs.VERSION }} -f Dockerfile.graph . && \
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          --push \
          -t iqtlabs/gamutrf-airspyfm:${{ steps.change_version.outputs.VERSION }} -f Dockerfile.airspyfm . && \
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          --push \
          -t iqtlabs/gamutrf-freqxlator:${{ steps.change_version.outputs.VERSION }} -f Dockerfile.freqxlator .
      if: github.repository == 'iqtlabs/gamutrf' && github.event_name == 'push'
