name: test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: static tests
      run: |
        sudo add-apt-repository ppa:gnuradio/gnuradio-releases-3.9 && \
            sudo apt-get update && \
            sudo apt-get install -qy gcc git g++ libev-dev python3-dev python3-pip gnuradio && \
        sudo pip3 install -r requirements.txt -r scan-requirements.txt -r tests/requirements.txt -r specgram-requirements.txt && \
        pip3 install codecov && \
        export PYTHONPATH=$PWD/gamutrf:$PYTHONPATH && \
        pylint --fail-under=6 *py tests/*py gamutrf/*py && pytype && \
        PATH=/home/runner/.local/bin:$PATH py.test -v -vv --cov-report term-missing --cov=. --cov=gamutrf -c .coveragerc && \
        PATH=/home/runner/.local/bin:$PATH coverage report && \
        PATH=/home/runner/.local/bin:$PATH coverage xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3.0.0
      if: github.repository == 'iqtlabs/gamutrf'
