name: test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: static tests
      run: |
        sudo apt-get update && sudo apt-get install -qy gcc git g++ libev-dev python3-dev python3-pip && \
        sudo pip3 install -r requirements.txt -r tests/requirements.txt && \
        pip3 install codecov && \
        sudo python3 setup.py sdist install && \
        pylint --fail-under=6 *py tests/*py gamutrf/*py && pytype && \
        py.test -v -vv --cov-report term-missing --cov=. --cov=gamutrf -c .coveragerc && \
        coverage report && \
        coverage xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.1.0
      if: github.repository == 'iqtlabs/gamutrf'
